{%extends 'base.html'%}
{%block content%}
      <div class="main2">
        <div class="box2">
          <h1> <b><span class="text-primary">About</span> Us </b></h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis labore 
            aperiam harum officiis facilis id nihil officia pariatur, accusamus 
            praesentium odit rem voluptatem tempore nam incidunt aliquid perspiciatis, 
            maiores in iure, necessitatibus doloribus? Ipsam eum voluptates quo consequatur
            totam vitae esse alias corporis nihil est error, iusto consequuntur tempore 
            accusantium ad impedit molestiae inventore nisi excepturi nemo earum deserunt. 
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Inventore est accusamus saepe quam eos sunt fugiat ullam magni maiores vitae.
          </p>
        </div>
        <div class="box2">
          <img src="../static/images/logoo.png" width="500px" height="500px">
        </div>
      </div>
    {%endblock%}
  </body>
</html>