{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <title>Shaxsiy Sovga</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
  </script>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg " style="background-color: #15447a;">
            <div class="container-fluid" >
              <i class="bi bi-gift-fill" style=" font-size: 28px; margin-right:5px;"></i>
              <a class="navbar-brand" href="#" style="font-size: 30px;">AmorFati</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" >
                  <a class="nav-link " aria-current="page" href="{%url 'home'%}">Home</a>
                  <a class="nav-link" href="{%url 'about'%}">About</a>
                  <a class="nav-link" href="{%url 'gifts'%}">All Gift</a>
                  <a class="nav-link" href="{%url 'contact'%}">Contact</a>
                </div>
              </div>
            </div>
          </nav>
    </header>

{%block content%}
{%endblock content%}

</body>
</html>
