{%extends 'base.html'%}
{%block content%}
   <section class="main3 container">
    <div class="box3"><img src="../static/images/logoo.png" alt=""></div>
    <div class="box3-1">
      <h1>Contact</h1>
        <a href="+998977920403"><img src="../static/images/phone-call.svg" style="width: 21px;" alt="telefon">
            <p>+998977920403</p>
        </a>
        <a href="#"><img src="../static/images/facebook.svg" alt="facebook">
            <p>@fotimanurmetova_04</p>
        </a>
        <a href="https://t.me/nurmetova_o4/"><img src="../static/images/telegram.svg" >
        <p>nurmetova_o4</p>
        </a>
        <a href="https://www.instagram.com/nurmetova_fotima/"> <img src="../static/images/instagram.svg" alt="Instagram">
        <p>nurmetova_fotima</p>
        </a>
        
    </div>
   </section>
   {%endblock%}
</body>
</html>
